<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<div class="container-fluid mt-5" id="app">
    <div class="row">
        <div class="col">
            <h3>{{titulo}}</h3>
            <input type="text" class="form-control my-3" v-model="nuevoAlumno"
                   v-on:keyup.enter="anadirAlumno">
            <button class="btn btn-primary" @click="anadirAlumno">Añadir</button>
            <div class="mt-3" v-for="(alumno, indice) of alumnos">
                <!--<div class="alert alert-primary" role="alert">-->
                <div  role="alert" :class="['alert', alumno.estado ? 'alert-success' : 'alert-danger']">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            {{indice}} - {{alumno.nombre}} {{alumno.estado}}
                        </div>
                        <div>
                            <button class="btn btn-success btn-sm" v-on:click="editarAlumno(alumno)">OK</button>
                            <button class="btn btn-danger btn-sm" @click="eleminarAlumno(alumno)">X</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/seis.js"></script>
</body>
</html>